<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/home.css" />
  <title>Admin</title>
</head>

<body>
  <!-- Navbar -->
  {{> home/navbar }}

  {{> home/head  }}

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <form id="formHidden" method="POST">
    <input type="hidden" />
  </form>
  <script>
    function EditRow(event, className, type) {
      if ($(event.target.parentNode).attr("class").indexOf("btn-edit") != -1) {
        const Dom = $(event.target.parentNode.parentNode).siblings(className);
        const name = Dom.text();
        const id = Dom.parents("tr").attr("id");
        Dom.empty();
        Dom.append(`
              <form id = "${id}-form" action = "/admin/${type}/edit" method = "POST">
                <input type = "hidden" name = "id" value = "${id}"/>
                <input type = "text" name = "name" value = "${name}" class = "form-control"/>
              </form>
            `);
        $(`#${id}`).find(".btn-edit").click(() => {
          $(`#${id}-form`).submit();
        });
      }
    }
    function DelRow(event, type) {
      if ($(event.target.parentNode).attr("class").indexOf("btn-delete") != -1) {
        const id = $(event.target).parents("tr").attr("id");
        $("#formHidden input").attr("name", `${type}Id`);
        $("#formHidden input").val(id);
        $("#formHidden").attr("action", `/admin/${type}/delete`);
        $("#formHidden").submit();
      }
    }

    function AddRow(event, type) {
      if ($(event.target.parentNode).attr("class").indexOf("btn-add") != -1) {
        const inputRow = $("tr.d-none");
        inputRow.siblings(".tr-button").remove();
        inputRow.removeClass("d-none");
        inputRow.find(".btn-add").click(() => {
          $(`#form-add-${type}`).submit();
        })
      }
    }
    $(document).ready(() => {
      // Cats Table:
      $("#categories-table").click(() => {
        if ($(event.target.parentNode).attr("class") != undefined) {
          // Edit Category Name:
          EditRow(event, ".category-name", "cat");
          // Delete Category:
          DelRow(event, "cat");
          // Add New Category:
          AddRow(event, "cat");
        }
      })
      // Products Table:
      $("#products-table").click(() => {
        if ($(event.target.parentNode).attr("class") != undefined) {
          // Edit Product Name:
          EditRow(event, ".product-title", "product");
          // Delete Product:
          DelRow(event, "product");
          // Add Product just for seller :))
        }
      })
      // Users Table:
      $("#users-table").click(() => {
        if ($(event.target.parentNode).attr("class") != undefined) {
          // Delete Product:
          DelRow(event, "user");
        }
      });
      // Upseller Table:
      $("#up-seller-table").click(() => {
        if ($(event.target.parentNode).attr("class") != undefined) {
          if ($(event.target.parentNode).attr("class").indexOf("btn-like") != -1) {
            $(event.target.parentNode).siblings(".agreeInp").val("1");
            $(event.target).parents("form").submit();
          }
          if ($(event.target.parentNode).attr("class").indexOf("btn-unlike") != -1) {
            $(event.target.parentNode).siblings(".agreeInp").val("0");
            $(event.target).parents("form").submit();
          }
        }
      });
    });

  </script>
</body>

</html>