<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2" id="main-navbar">
  <div class="container">
    <!-- Nav Brand -->
    <a href="/" class="navbar-brand">Online Auction</a>
    <!-- Button Responsive -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">About us</a>
        </li>
        {{#if user.isGuest }}
        <li class="nav-item">
          <a href="/sign-in" class="nav-link isActive">
            <i class="fas fa-user"></i> Sign in</a>
        </li>
        {{/if}}
        {{#if user.isBidder }}
        <li class="btn-group" role="group" aria-label="">
          <div class="btn-group" role="group">
            <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Welcome {{ user.uname }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/watch-list">Watch List</a>
              {{#if user.isSeller}}
              <a class="dropdown-item" href="/post-product">Post Product</a>
              {{/if}}
              <a class="dropdown-item" href="/sign-out">Sign Out</a>
            </div>
          </div>
        </li>
        {{/if}}
        {{#if user.isAdmin}}
        <li class="btn-group" role="group" aria-label="">
          <div class="btn-group" role="group">
            <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Welcome {{ user.uname }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="/admin/profile">Profile</a>
              <a class="dropdown-item" href="/sign-out">Sign Out</a>
            </div>
          </div>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>