<div class="card">
  <div id="search-bar" class="card-header">
    <h4 class="display-4">Activities</h4>
  </div>
  <!-- Categories For Profile -->
  <div class="card-body">
    <div id="accordion">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="mb-0">
            <div href="#collapse-profile" data-toggle="collapse" data-parent="#accordion">
              <i class="fas fa-arrow-circle-down fa-2x"></i>
            </div>
          </h5>
        </div>
        <div id="collapse-profile" class="collapse show">
          <ul class="list-group text-center">
            <a href="/profile" class="list-group-item list-group-item-cation {{#if profile}}
              active {{/if}}">Profile</a>
            <a href="/watch-list" class="list-group-item list-group-item-cation {{#if watchList}}
              active {{/if}}">Watch list</a>
            {{#if user.isSeller}}
            <a href="/post-product" class="list-group-item list-group-item-cation {{#if postProduct}}
              active {{/if}}">Post product</a>
            {{/if}}

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>