<main id="register-tag">
  <div class="dark-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 m-5 p-5">
          <div class="card">
            <div class="card-header d-flex">
              <h4 class="display-4 d-inline">Create Account</h4>
              <div class="logo ml-auto"><span>Logo</span></div>
            </div>
            <!-- Info -->
            <div class="card-body">
              <form action="/register" method="POST" class="form-group my-4">
                <!-- Name -->
                <div class="mb-2">
                  <input type="text" name="uname" placeholder="Full Name..." class="form-control" />
                  <small class="invalid-feedback">Wrong email form</small>
                </div>
                <!-- Email -->
                <div class="mb-2">
                  <input type="email" name="email" placeholder="Email..." class="form-control" />
                  <small class="invalid-feedback">Wrong email form</small>
                </div>
                <!-- Password -->
                <div class="input-group">
                  <div class="mb-2 input-group-item">
                    <input id="password" type="password" name="password" placeholder="Password..."
                      class="form-control" />
                    <small class="invalid-feedback">Password no special symtax</small>
                  </div>
                  <div class="mb-2 ml-auto input-group-item">
                    <input id="confirm-pass" type="password" name="confirmPass" placeholder="Confirm Password..."
                      class="form-control" />
                    <small class="invalid-feedback">Not the same password</small>
                  </div>
                </div>
                <!-- BirthDate + Sex -->
                <div class="input-group">
                  <div class="mb-2 input-group-item">
                    <input type="hidden" name="sex" id="gender-input" value="nam">
                    <select class="custom-select mr-sm-2" id="gender-select">
                      <option value="Nam" selected>Male</option>
                      <option value="Nữ">Female</option>
                      <option value="Khác">Other</option>
                    </select>
                  </div>
                  
                  <div class="mb-2 ml-auto input-group-item">
                    <input type="date" name="birthDay" class="form-control" />
                    <small class="invalid-feedback"><i class="fa fa-birthday-cake" aria-hidden="true">
                        18</i> </small> </div>
                </div>
                <!-- Phone -->
                <div class="mb-2">
                  <input type="text" name="phone" placeholder="Phone Number..." class="form-control" />
                </div>
                <!-- Address -->
                <div class="mb-2">
                  <input type="text" name="address" placeholder="Address..." class="form-control" />
                </div>

                <button id="register-button" type="submit" class="button-login my-5">
                  Register
                </button>
              </form>
            </div>
            <div class="card-footer d-flex lead">
              <a href="#">Forgot password?</a>
              <a href="/sign-in" class="ml-auto">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>