<main id="sign-in-tag">
  <div class="dark-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 m-5 p-5">
          <div class="card">
            <div class="card-header d-flex">
              <h4 class="display-4 d-inline">Welcome Back!</h4>
              <div class="logo ml-auto"><span>Login</span></div>
            </div>
            <div class="card-body">
              <form action="sign-in" method="POST" class="form-group my-4">
                <!-- Email -->
                <div class="mb-2">
                  <input type="email" name="username" placeholder="Email..." class="form-control" />
                  <small class="invalid-feedback">Email doesn't exist</small>
                </div>
                <hr />
                <!-- Password -->
                <div class="mb-2">
                  <input type="password" name="password" placeholder="Password..." class="form-control" />
                  <small class="invalid-feedback">Wrong Password? Do you remember?</small>
                </div>
                <button type="submit" class="button-login my-5">
                  Login
                </button>
              </form>
            </div>
            <div class="card-footer d-flex lead">
              <a href="#">Forgot password?</a>
              <a href="/register" class="ml-auto">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>